<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.admobex"
    android:versionCode="1"
    android:versionName="1.0" >

	<uses-permission android:name="android.permission.VIBRATE" />

	<application android:hardwareAccelerated="true">
		<activity
		android:name="com.jirbo.adcolony.AdColonyOverlay"
		android:configChanges="keyboardHidden|orientation|screenSize"
		android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
		<activity
		android:name="com.jirbo.adcolony.AdColonyFullscreen"
		android:configChanges="keyboardHidden|orientation|screenSize"
		android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
		<activity
		android:name="com.jirbo.adcolony.AdColonyBrowser"
		android:configChanges="keyboardHidden|orientation|screenSize"
		android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
	</application>
</manifest>
