<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.admobex">
	<uses-sdk android:targetSdkVersion="19" />
	<application android:debuggable="::DEBUG::">
		<meta-data
			android:name="com.google.android.gms.ads.APPLICATION_ID"
			android:value="::ENV_ADMOB_APPID::"/>
	</application>
</manifest>
