<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.admobex"
    android:versionCode="1"
    android:versionName="1.0" >
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application android:hardwareAccelerated="true">
		<activity
		android:name="com.inmobi.rendering.InMobiAdActivity"
		android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
		android:theme="@android:style/Theme.Translucent.NoTitleBar"
		android:hardwareAccelerated="true"/>
		<receiver
		android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
		android:enabled="true"
		android:exported="true">
		<intent-filter>
		<action android:name="com.inmobi.share.id" />
		</intent-filter>
		</receiver><service android:enabled="true" android:name="com.inmobi.signals.activityrecognition.ActivityRecognitionManager" />		
	</application>
	
</manifest>
